@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Cambo&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Libre+Baskerville&display=swap');
/* ROOT */
:root {
  --ideal-viewport-width: 1600;
  --max-width: 1600px;
  --bg-color: silver;
  --bg-color-secondary: #1f3652;
  --bg-color-secondary-light: hsl(225, 8%, 60%);
  --text-color: #fff;
  --text-header: #FFC85A;
  --text-color-dark: #b3b3b3;
  --text-color-black: hsl(0, 0%, 0%);
  --contraste-color: #70A7B3;
  --font-normal: "Barlow", sans-serif;
  --font-logo: "Libre Baskerville", serif;
  --font-footer: "Cambo", serif;
  --font-header: "Cormorant Garamond", serif;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
/* HTML */
html {
  font-size: calc(
    16 * clamp(0.7px, 100vw / var(--ideal-viewport-width), 1.3px)
  );
  height: 100%;
}

/*  BODY */
body {
  background: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-normal);
  min-height: 100%;
}

button,
a {
  cursor: pointer;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.row-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* FIM DO BODY */

/* header */
header {
    padding: 0.5rem 0 0;
    background-color: var(--bg-color-secondary);
    min-height: 20px;
    color: var(--text-color);
    font-size: 1.1rem;
    
    
  }
  
  .nav {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
  }
  
  .header-brand-logo {
    text-align: left;
    
  }
  
  .header-brand-logo a {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--text-header);
    text-decoration: none;
    font-family:var(--font-header);
    font-style: italic;
    font-size: 1.5rem;
   
  }
  
  .header-brand-logo img {
    width: 10rem;
  }
  
  .header-navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

  }
  
  .header-navbar a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .header-navbar a > i {
    margin-right: 0.4em;
  }
  
  .header-navbar a:hover {
    color: var(--contraste-color);
  }
  
  .header-login {
    height: 100%;
  }
  
  .header-login a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .header-login a:hover {
    color: var(--contraste-color);
  }
  
  .header-login a > i {
    margin-right: 0.4em;
  }
  
  .header-dropdown {
    display: none;
  }
  
  .dropdown-toggle {
    font-size: 2.2rem;
    background-color: transparent;
    border: none;
  }
  
  .dropdown-menu {
    display: none;
    background-color: var(--bg-color-secondary);
    z-index: 1;
    font-size: 16px;
    flex: 0 0 100%;
  }
  
  .dropdown-menu a {
    display: block;
    margin: 0.5em 0;
  }
  
  .dropdown-menu a:hover {
    color: var(--contraste-color);
  }
  /* FIM DO HEADER */

/* footer */
footer {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.1rem;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  text-decoration:none;
  font-family: var(--font-normal);
}

.section_rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  text-decoration:none;

}

.section_rodape > *,
.section_termos > * {
  margin: 0.3rem;
}
.topicos_rodape a{
  color: var(--text-color);
  text-decoration:none;


}
.section_termos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--contraste-color);
  padding: 0.6rem 1.5rem;
  font-size: 0.8em;
}

.logo_rodape {
  height: 3em;
}

.rodape_icon {
  margin-right: 1em;
  margin-left: 1em;
  height: 1.5em;
  color: var(--text-color);
  text-decoration:none;


}

.fixed-at-bottom {
  position: absolute;
  bottom: 0;
}

.go-to-top {
  display: none;
  position: fixed;
  right: 20%;
  bottom: 20%;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  z-index: 20;
  color: var(--contraste-color);
  text-decoration:none;

}




/* INDEX */

/* SOBRE NÓS */
.CorpoEmpresa{
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  align-items: center;
  background-image: linear-gradient(#70A7B3, #7d7d7d  );
}

.TituloEmpresa{
  color: black;
  position: relative;
  left: 45%;
  padding-bottom: 1rem;
  font-weight: 700;
}

.ImagemEmpresa{
  position: relative;
  width: 40rem;
  left: 30%;
  padding-bottom: 10px;
}

.TextoEmpresa{
  color: black;
  /*background-color: aliceblue;*/
  margin-left: 30rem;
  margin-right: 30rem;
  padding: 10px;
}

/* TIPOS DE CARTÕES */

/* FORMS */
.CadastroCorpo{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.CadastroContainer{
  width: 70%;
  height: 85vh;
  display: flex;
  box-shadow: 5px 5px 10px; color: rgb(0, 0, 0, .222);

}

.FormularioImagem{
  width: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  padding: 1rem;
}

.FormularioImagem img{
  width: 31rem;
}

.Formulario{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #70A7B3;
  padding: 3rem;
  
}

.CadastroTitulo{
  display: block;
  color: black;
  content: '';
  margin: 0;
  height: 0.3;
  justify-content: space-between;
}

.InputGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  
}

.InputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
  color: black;
}

.InputBox input:hover {
  background-color: #eeeeee75;
}

.InputBox input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.CadastroBotao{
  width: 100%;
  border: none;
  background-color: #6c63ff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.CadastroBotao:hover{
  background-color: #1f3652  ;
  color: white;
}


/* responsividade */
@media screen and (max-width: 375px) {
  .header-brand-logo {
    flex: 0 0 50%;
  }
  .header-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 50%;

  

  }
}
@media screen and (max-width: 600px) {
  .header-login,
  .header-navbar {
    display: none;
  }
  .header-brand-logo {
    flex: 0 0 50%;
  }
  .header-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 50%;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
  }
  .active {
    display: block;
  }
  section.banner {
    justify-content: center;
  }
  .content-banner {
    text-align: center;
    margin: 0 auto;
    width: initial;
  }
  .content-banner p {
    max-width: 100%;
    text-align: left;
  }

  .go-to-top {
    display: inherit;
    right: 0.5rem;
    bottom: 10%;
  }
}