@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Cambo&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Libre+Baskerville&display=swap');
/* ROOT */
:root {
  --ideal-viewport-width: 1600;
  --max-width: 1600px;
  --bg-color: silver;
  --bg-color-secondary: #1f3652;
  --bg-color-secondary-light: hsl(225, 8%, 60%);
  --text-color: #fff;
  --text-header: #FFC85A;
  --text-color-dark: #b3b3b3;
  --text-color-black: hsl(0, 0%, 0%);
  --contraste-color: #70A7B3;
  --font-normal: "Barlow", sans-serif;
  --font-logo: "Libre Baskerville", serif;
  --font-footer: "Cambo", serif;
  --font-header: "Cormorant Garamond", serif;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
/* HTML */
html {
  font-size: calc(
    16 * clamp(0.7px, 100vw / var(--ideal-viewport-width), 1.3px)
  );
  height: 100%;
  

}

/*  BODY */
body {
  background: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-normal);
  min-height: 100%;
  min-width: 100%;
  
}

button,
a {
  cursor: pointer;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.row-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* FIM DO BODY */

/* header */
header {
    padding: 0.5rem 0 0.5rem 0;
    background-color: var(--bg-color-secondary);
    min-height: 20px;
    max-height: 120px;
    color: var(--text-color);
    font-size: 1.1rem;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  }

    
    
  
  
  .nav {
    display: grid;
    grid-template-columns: 1fr 2fr ;
   
    
  }
  
  .header-brand-logo {
    text-align: left;
    
  }
  
  .header-brand-logo a {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--text-header);
    text-decoration: none;
    font-family:var(--font-header);
    font-style: italic;
    font-size: 1.5rem;
   
  }
  
  .header-brand-logo img {
    width: 7rem;
  }
  
  .header-navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    

  }
  
  .header-navbar a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .header-navbar a > i {
    margin-right: 0.4em;
  }
  
  .header-navbar a:hover {
    color: var(--contraste-color);
  }
  
  
  
  .header-dropdown {
    display: none;
  }
  
  .dropdown-toggle {
    font-size: 2.2rem;
    background-color: transparent;
    border: none;
  }
  
  .dropdown-menu {
    display: none;
    background-color: var(--bg-color-secondary);
    z-index: 1;
    font-size: 16px;
    flex: 0 0 100%;
  }
  
  .dropdown-menu a {
    display: block;
    margin: 0.5em 0;
  }
  
  .dropdown-menu a:hover {
    color: var(--contraste-color);
  }
  /* FIM DO HEADER */

/* footer */
footer {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.1rem;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  text-decoration:none;
  font-family: var(--font-normal);
}

.section_rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  text-decoration:none;

}

.section_rodape > *,
.section_termos > * {
  margin: 0.3rem;
}
.topicos_rodape a{
  color: var(--text-color);
  text-decoration:none;


}
.section_termos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--contraste-color);
  padding: 0.6rem 1.5rem;
  font-size: 0.8em;
}

.logo_rodape {
  height: 3em;
}

.rodape_icon {
  margin-right: 1em;
  margin-left: 1em;
  height: 1.5em;
  color: var(--text-color);
  text-decoration:none;


}

.fixed-at-bottom {
  position: absolute;
  bottom: 0;
}

.go-to-top {
  display: none;
  position: fixed;
  right: 20%;
  bottom: 20%;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  z-index: 20;
  color: var(--contraste-color);
  text-decoration:none;

}




/* INDEX */

/* banner */
.banner{
  width:100%;
  height: 825px;
  Top:2rem;
  background-color: rgb(0, 0, 0);
  z-index: 4;

}
.banner img{
  top:1rem;
  width:100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.27;
  image-resolution: auto;
  display:flex;
  position: absolute !important;
z-index: 1;

}
.banner-content{
  display: block;
  position: absolute;
  top: 27rem;
  left:17rem;
  align-items: center;
  text-align: center;
  color:#FFC85A;
  z-index:10;
  font-family: var(--font-header);
  text-shadow: -0.2rem 0.2rem 0.2rem #000;
  text-decoration:dotted;

}
.banner-content h1{
  font-size: 2rem;

}
.banner-content a{
  color:var(--text-header);
  text-decoration:underline solid;
  padding:0.2rem;
  
}

.banner-content a:hover{
  color:var(--contraste-color);
  text-decoration:underline solid;
  padding:0.2rem;

}

.banner-content p{
font-size: 4rem;

}
/* FIM BANNER */

/* SERVIÇOS */
 .container-body{ 
 max-width:  100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-family: var(--font-header);
  font-size: 1.2rem;
  color: var(--bg-color-secondary);
  text-decoration:none;
 

  
  
 }
 .servicos{
  display: flexbox;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem 0rem 1rem 1.5rem ;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height:800px;
  background-color:white;

 }
 .servicos h1{
  text-align: center;
  padding:6rem 0 0.5rem 0;
  color:var(--bg-color-secondary);
  font-weight: 900;
  font-size: 3rem;
  
 }
  .servicos p{
    text-align: center;
    padding: 0 0 3rem 0;
    font-size: 1.5rem;
    font-family: var(--font-footer);
    color:var(--text-color-black);
    font-weight: 300;
    
 }
 .contents-serv{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 3rem 1rem 2rem 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  column-gap: 3rem;
  text-align: center;
  max-height: 500px;

 }
 .content-serv{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  display:block;
 }
 
 .content-serv i{
  font-size: 5rem;
  color: var(--text-color);
  border-radius: 50%;
  background-color: var(--bg-color-secondary);
  border: var(--text-color) 0.5px solid;
  text-decoration:none;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 2rem ;

  
 }
  .content-serv h3{
  text-align:center; 
  font-family: var(--font-header);
  font-weight: 900;
  text-shadow: rgb(131, 128, 128) 0.1rem 0.1rem 0.2rem;
  padding: 1rem 0; 
  font-size: 1.7rem;
  margin:0;
  align-items: center;
  justify-content: center;
  align-items: center;
  }
  .content-serv p{
    text-align:center;
    padding: 2rem;
    justify-items: auto;
    font-weight: 300;
    font-size: 1.3rem;
    font-family: var(--font-footer);
  }
/* .cards-total{} */
.card-01 {
  margin:0;
  padding: 0;
} 


 /* FIM SERVIÇOS */

/* CARTÕES */

/* FIM CARTÕES */


/* SOBRE NÓS */
.CorpoEmpresa{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text-color);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #1f3652 60%, #7d7d7d 55%);
}

.SobreContainer{
  width: 85%;
  height: 75vh;
  display: flex;
}

.ImagemEmpresa{
  position: relative;
  right: 4%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  margin-left: 5%;
  box-shadow: 0, 0, 10px, 10px rgb(0,0,0, .222);
}

.ImagemEmpresa img{
  width: 30rem;
}

.TituloEmpresa{
  /*color: black;*/
  position: relative;
  padding-bottom: 1rem;
  font-weight: 700;
  left: 20%;
}

.TextoEmpresa{
  width: 100%;
  /*color: black;*/
  /*background-color: aliceblue;*/
  padding: 15px;
  font-size: large;
  
}

.SobreBotao{
  position: relative;
  left: 2%;
  margin-top: 4%;
  background-color: #fff;
  color: black;
  font-size: large;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.SobreBotao:hover{
  background-color: black;
  color: white;
}

.SobreFade{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: #000000b4;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
}

.fecharModal{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0px;
  background-color: #1f3652;
  color: #FFC85A;
}

.SobreModal{
  background-color: #1f3652;
  position: fixed;
  display: none;
  z-index: 20000;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 70%;
  padding: 1.5rem;
  font-size: medium;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  border: 10px solid #FFC85A;
  box-shadow: 0 0 0 10px #1f3652;
  color: var(--text-color);
}


/*.ModalImagem{
  position: relative;
  /*display: flex;
  margin: 1.7rem;
  left: 5%;
  
}

.ModalImagem img{
  position: relative;
  width: 15rem;
  border-radius: 100%;
}*/

.SobreTitulo{
  position: relative;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 45%;
  width: 400px;
  left: 40%;

  /*text-decoration: underline;*/
}

.ModalTexto{
  /*display: flex;*/
  position: relative;
  margin: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  right: 7%;
}

.SobreModal.mod,.SobreFade.mod{
  display: flex;
 
}

/* TIPOS DE CARTÕES */
.type-cards{
  width:100%;
  max-width:100%;
  padding: 1rem 0rem;
  background-color:rgb(236, 236, 236);
  text-align: left;
  align-items: left;
  align-content: space-between;

}
.card-title{
  text-align: center;
  padding:6rem 0 0.5rem 0;
  color:var(--bg-color-secondary);
  font-weight: 900;
  font-size: 3rem;
  
 }
  .desc-title{
    text-align: center;
    padding: 0 0 3rem 0;
    font-size: 1.5rem;
    font-family: var(--font-footer);
    color:var(--text-color-black);
    font-weight: 300;
    
 }

/* .cardvip:hover{
box-shadow: bottom(--text-header);
}
.cardpremium:hover{

}
.cardplatinum:hover{

} */
.card__content{
  display:flexbox;
  position:relative;
  width: 85%;
  padding:0.5rem 1.5rem;
  text-align: left;
  text-justify:distribute;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
  word-break:keep-all;
  line-break:strict;
  text-justify: inter-word;
  
  
  
  
  
}
/* .card_img {
  width: 100%;
  
} */
.card_img img{
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
  

}

  
.card_img img:hover{
  box-shadow: var(--text-header) 0px 0px 10px 5px;
  border: var(--text-header) 0.5px solid;
  
}
/* PREMIUM */
.cardpremium{
  display:grid;
  position: relative;
  color: var(--bg-color-secondary);
  padding: 2rem 2rem 0.5rem 0.2rem;
  margin:0 0 0 0rem;
  width: 100%;
  grid-template-columns: 2fr 2fr;
  /* background-color: #0b3569; */
}
.cardpremium .card__content{
  margin: 2.5rem 0 0 1rem;
  /* background-color:rgba(11, 53, 105, 0.904); */
  color:rgb(0, 0, 0);

}
.cardpremium img{
  margin: 2rem 1rem 2rem 0rem; 
  position:relative;
  display: block;
  align-items: center;
  align-content: center;
  background-color:#0b3569f3;
  border-color: #50a0b2ef 0px 0px 25px 5px solid;
  box-shadow: #50a0b2ef 0px 0px 25px 5px;

}
/* VIP */
.cardvip{
  display:grid;
  color: var(--bg-color-secondary);
  position: relative;
  padding: 2rem 3rem 0.5rem 0.2rem;
  margin:2.5rem 0 0rem 0rem;
  width: 100%;
  grid-template-columns: 2fr 2fr;
  /* background-color: #50a0b2ef; */
}
.cardvip .card__content{
  margin: 2.5rem 1rem 0 6rem;
  /* background-color:rgba(81, 161, 179, 0.568); */
  color: var(--text-color-black);

  
}
.cardvip img{
  margin: 2rem 4rem 2rem 2rem; 
  align-items: center;
  align-content: center;
  background-color:#50a0b2ef;
  border-color:#000000f1 0px 0px 25px 5px solid;
  box-shadow: #000000f1 0px 0px 25px 5px;
}
/* PLATINUM */
.cardplatinum{
  display:grid;
  position: relative;
  color: var(--bg-color-secondary);
  padding: 2rem 2rem 0.5rem 0.2rem;
  margin:0rem 0 2rem 0rem;
  width: 100%;
  grid-template-columns: 2fr 2fr;
  /* background-color:#252525f1; */

}
.cardplatinum .card__content{
  margin: 1.5rem 0 0 6rem;
  color:#000000
  
}
.cardplatinum .card__content .card__description{
  color:#000000
  
}
.cardplatinum img{
  margin: 2rem 4rem 2rem 2rem; 
  align-items: center;
  align-content: center;
  background-color:#252525f1;
  border-color:#0b3569 0px 0px 25px 5px solid;
  box-shadow: #0b3569 0px 0px 25px 5px;

}
.card__title{
  padding: 0.0rem 0rem;
  font-family: var(--font-header);
  font-size: 3rem;
  font-weight: 990;
  /* color:rgb(255, 209, 2); */
  color: gold;
  text-align: center;
  text-shadow: rgba(14, 14, 15, 0.849) 2px 3px 2px;
}

.card__description{
  font-family: var(--font-footer);
  font-style: italic;
  font-size: 1.3rem;
  opacity: 0.6;
  text-align: center;
  font-weight: 600;
}
/* .card__benefits{
  
} */
.card__list{
  font-family: var(--font-normal);
  word-break: retain-all;
  padding:1rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.11rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  line-break: strict;

}
/* .card__item{} */ */ */

/* FIM TIPOS DE CARTÕES! */

/* FORMS */
.CadastroCorpo{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7d7d7d;
}

.CadastroContainer{
  position: relative;
  width: 70%;
  height: 90vh;
  display: flex;
  /*Esses dois ultimos é pra deixar o cadastro no centro da tela
    caso fique torto pra você Ellize sitasse livre pra alterar */
  margin-top: 4%;
  left: 14%;
}

.FormularioImagem{
  width: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  
}

.FormularioImagem img{
  width: 32rem;
  height: 100%;
}

.Formulario{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #70A7B3;
  padding: 3rem;
  
}

.CadastroTitulo{
  display: block;
  color: black;
  content: '';
  margin: 0;
  height: 0.3;
  justify-content: space-between;
}

.InputGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.9rem 0;
  
}

.InputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
  color: black;
}

.Pais{
  display: none;
}

.InputBox input:hover {
  background-color: #eeeeee75;
}

.InputBox input {
  margin: 0.4rem 0;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.CadastroBotao{
  width: 100%;
  border: none;
  background-color: #6c63ff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.CadastroBotao:hover{
  background-color: #1f3652  ;
  color: white;
}

/*Agradecimentos*/
.agradecimentosCorpo{
  height: 100vh;
  width: 100vw;
}

/* responsividade */
@media screen and (max-width: 375px) {
  .header-brand-logo {
    flex: 0 0 50%;
  }
  .header-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 50%;

  

  }
}
@media screen and (max-width: 600px) {
  .header-login,
  .header-navbar {
    display: none;
  }
  .header-brand-logo {
    flex: 0 0 50%;
  }
  .header-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 50%;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
  }
  .active {
    display: block;
  }
  section.banner {
    justify-content: center;
  }
  .content-banner {
    text-align: center;
    margin: 0 auto;
    width: initial;
  }
  .content-banner p {
    max-width: 100%;
    text-align: left;
  }

  .go-to-top {
    display: inherit;
    right: 0.5rem;
    bottom: 10%;
  }
}

/*cadastro*/
@media screen and (max-width: 1330px) {
  .FormularioImagem {
      display: none;
  }
  .CadastroContainer {
      width: 60%;
  }
  .Formulario {
      width: 80%;
  }
}

